**/__pycache__/
__pycache__
.vscode
.idea
.venv/
build/
dist/
src/assets/std/
data/
src/utils/get_changelog.py
changelog_report.txt
*.xml
*.cod
*.spec
test.py
CHANGELOG.md
src/resources.py
src/resources_std.py